<!DOCTYPE html>
  <head>
    <title>task2home</title>
  </head>

  <body>
      Task 2 : 
      <form action="/task2" method="get">
        <button>Types</button>
      </form>
      <br>
      Task 2 BONUS : 
      <form action="/allpokemon" method="get">
        <button>Pokemon</button>
      </form>
      <br>
      <form action="/allabilities" method="get">
        <button>Abilities</button>
      </form>
      <br>
      <form action="/allberries" method="get">
        <button>Berries</button>
      </form>
  </body>
</html>